
body{
    margin: 16px;
    padding: 0;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    background: #f1f5fb;
    
}

.container{ 
    height: 100%;
    width: 100%;
    
    .dashboard{
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 16px;

        &SideBar{
            border-radius: 16px;
            background: #ffffff;
            width: 100%;
            height: calc(100vh - 2px);
            position: relative;
           
            &Action{
               display: flex;
               flex-direction: column;
               margin-top: 50%;

                &Button{
                   text-align: left;
                   background: transparent;
                   padding: 16px 10px;
                   margin: 8px 16px;
                   border-radius: 10px;
                   font-size: 1.1em;
                   border-style: none;
                   cursor: pointer;
                   color: #9a9999;

                   &:hover{
                        background: #f1f5fb;
                   }
                    &:first-child {
                        margin-top: 16px;
                    }

                    &[dataIsActive=true]{
                        background:#fc4760;
                        color: #ffffff;
                    }     
                }   
            }
            &Contact{
                position: absolute;
                bottom: 10%;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 16px 0;
                
                button{
                    font-family: 'Poppins', sans-serif;
                    cursor: pointer;
                    background: transparent;
                    border: none;
                    outline: none;
                    text-align: center;
                    color: #9a9999;
                    font-size: 14px; 
                }                
            }
        }
        &Menu{
            .content{

                &Navbar{
                    display: flex;
                    justify-content: space-between;
                    background: #ffffff;
                    border-radius: 16px;

                    &Search{
                        form{
                            height: 100%;
                            input{
                                background: #f1f5fb;
                                border-style: none;
                                padding-left: 10px;
                                width: 400px;
                                height: calc(100% - 32px);
                                margin: 16px 0 auto 10px;
                                border-radius: 10px;  
                                outline: none;                          
                            }
                        }          
                    }
                    &Profile{
                        display: flex;
                        flex-direction: row;
                        gap: 1em;
                        padding-right: 16px;
                        height: 68px;
                        align-items: center;
                        justify-content: flex-end;
                      
                        &Name{
                            text-align: end;
                            margin-top: 0;
                            
                            h3{
                                color: #9a9999;
                                margin: 0;
                                font-size: 14px;
                            }
                            h2{
                                margin: 0;
                                font-size: 16px;
                                color: #707070;
                            }
                        }
                    }
                }
                &Body{
                    display: grid;
                    grid-template-columns: 2fr 5fr 3fr;
            
                    .details{
                        margin: 16px 8px;
                        border-radius: 16px;
                        background: #ffffff;
                        height: calc(100vh - 110px);

                        &About{
                            
                            &Profile{
                                text-align: center;
                                margin-top: 8px;
                                                
                                h3{
                                    font-size: 18px;
                                    margin: 0;
                                }
                                p{
                                    color: #b0b2b5;
                                    margin-top: 0;
                                }
                                button{
                                    border-style: none;
                                    border-radius: 10px;
                                    width: 100px;
                                    height: 30px;
                                    color: #ffffff;
                                    background: #fc4760;   
                                    cursor: pointer;                                 
                                }
                            }
                            &Complete{
                                background: #f1f5fb;
                                border-radius: 10px;
                                color: #b0b2b5;
                                height: 53px;
                                font-size: 12px;
                                margin: 8px 8px auto 8px;
                                display: flex;
                                flex-direction: column;
                                position: relative;
                                
                                p{
                                    padding-left: 10px;
                                }  
                                &Line1{
                                    content: '';
                                    background: #b0b2b5;
                                    height: 8px;
                                    width: 100px;
                                    border-radius: 10px;
                                    position: absolute;
                                    bottom: 8px;
                                    left: 70px;
                                }
                                &Line2{
                                    content: '';
                                    background: #79e289;
                                    height: 8px;
                                    width: 70px;
                                    border-radius: 10px;
                                    position: absolute;
                                    bottom: 8px;
                                    left: 10px;
                                    
                                }

                            }
                            &Progress{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                margin: 8px 8px auto 8px;;
                                gap: 1em;
                                color: #ffffff;

                                p{
                                    font-size: 12px;
                                    padding-left: 10px;
                                }                 
                                &Completed{
                                    background: #79e289;
                                    border-radius: 8px;
                                    width: 100%;
                                    height: 90px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }                  
                                }
                                &Continue{
                                    background:  #44c6ff;
                                    border-radius: 8px;
                                    width: 100%;
                                    height: 90px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }                              
                                }
                                &Blogs{
                                    background:  #f4d33d;
                                    border-radius: 8px;
                                    width: 100%;
                                    height: 90px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }
                                }
                                &Points{
                                    background: #f560b2;
                                    border-radius: 8px;
                                    width: 100%;
                                    height: 90px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }   
                                }
                            }
                        }
                    }
                    .view{  
                        margin:16px 8px;

                        .courses{
                            padding: 16px;
                            border-radius: 16px;
                            background: #ffffff;  
                            position: relative;

                            &Navbar{
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                
                                &Title{
                                    font-size: 18px;
                                    font-weight: bold;
                                    padding-bottom: 10px;
                                }
                                &View{
                                    color: #b0b2b5;
                                    font-size: 14px;
                                    padding-bottom: 10px;
                                    cursor: pointer;
                                }
                            }
                            &List{
                                display: grid;
                                gap: 16px;

                                &Management{
                                    background: #f3f6fb;
                                    border-radius: 10px;
                                    width: calc(100% -16px);
                                    height: 125px;
                                    display: flex;
                                    padding: 10px;
                                    position: relative;

                                    img{
                                        height: fit-content;
                                        width: fit-content;
                                        align-self: center;
                                    }

                                    &Description{
                                        margin-left: 10px;
                                        margin-top: -20px;

                                        h3{
                                            font-size: 14px;
                                        }
                                        &Duration{
                                            display: flex;
                                            list-style: none;
                                            font-size: 13px;
                                            color: #707070;
                                            

                                            li{
                                                margin-right: 20px;     
                                            }
                                            
                                        }
                                        &Line{
                                            display: flex;
                                            flex-direction: column;
                                           
                                            &One{
                                                content: '';
                                                background: #b0b2b5;
                                                height: 8px;
                                                width: 100px;
                                                border-radius: 10px;
                                                margin-top: 0;
                                                position: absolute;
                                                bottom: 8px;
                                                right: ;: 50px;
                                                
                                            }


                                        }
                                        
                                    }
                                    p{
                                        margin-top: 8px;
                                        color: #707070;
                                        font-size: 13px;
                                    }
                                }
                                &Business{
                                    background: #f3f6fb;
                                    border-radius: 10px;
                                    width: calc(100% - 16px);
                                    height: 125px;
                                    display: flex;
                                    padding: 10px;

                                    img{
                                        height: fit-content;
                                        width: fit-content;
                                        align-self: center;
                                    }


                                    &Description{
                                        margin-left: 10px;
                                        margin-top: -20px;

                                        h3{
                                            font-size: 14px;
                                        }
                                        &Duration{
                                            display: flex;
                                            list-style: none;
                                            font-size: 13px;
                                            color: #707070;
    
                                            li{
                                                margin-right: 20px;     
                                            }
                                        }
                                    }
                                    p{
                                        // margin-top: 8px;
                                        color: #707070;
                                        font-size: 13px;
                                       
                                    }       
                                }
                            }    
                        }
                        .blog{
                            border-radius: 16px;
                            padding: 16px;
                            margin-top: 10px;
                            background: #ffffff;
                            position: relative;    
                            
                            &Navbar{
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                height: 35px;

                                &Title{
                                    font-size: 18px;
                                    font-weight: bold;
                                    padding: 5px 0 0 10px;
                                }
                                &View{
                                    color: #b0b2b5;
                                    font-size: 14px;
                                    cursor: pointer;
                                }
                            }
                            &Content{
                                display: grid;
                                gap: 16px;
                                
                                &Published{
                                    background: #f3f6fb;
                                    border-radius: 10px;
                                    padding-left: 10px;
                                    font-size: 14px;

                                    h3{
                                        margin: 0;
                                        padding-top: 5px
                                    }
                                    button{
                                        margin-top: 16px;
                                        background: #79e289;
                                        color: #ffffff;
                                        border-radius: 12px;
                                        border-style: none;
                                        padding: 4px 12px 4px 12px;
                                        cursor: pointer;
                                        position: relative;
                                        bottom: 10px;
                                    }
                                }
                                &Unpublished{
                                    padding: 10px;
                                    background: #f3f6fb;
                                    border-radius: 10px;
                                    padding-left: 10px;
                                    font-size: 14px;

                                    h3{
                                        margin: 0;
                                        padding-top: 5px
                                    }
                                    button{
                                        margin-top: 16px;
                                        background: #ff7552;
                                        color: #ffffff;
                                        border-radius: 12px;
                                        border-style: none;
                                        padding: 4px 10px 4px 10px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    .notification{
                        margin: 16px 8px;
                       
                        &Segment{
                            background: #ffffff;
                            border-radius: 16px;
                            padding: 16px;
                            height: calc(100% - 22%);

                            h2{
                                margin: 0;
                            }
                            &Paragraph{
                                border-radius: 10px;
                                background: #f3f6fb;
                                
                                h3{
                                    font-size: 14px;
                                    color: #707070;
                                    padding: 3px 0 3px 10px;
                                }
                                p{
                                    font-size: 12px;
                                    color: #b0b2b5;
                                    padding-left: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

