
body{
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    
}

.container{
    background: #f1f5fb;
    height: 100%;
    width: 100%;
    
    .dashboard{
        display: grid;
        grid-template-columns: 1fr 1fr;

        &SideBar{
            grid-column: 1;
            grid-row: 1 / 6;
            border-radius: 16px;
            background: #ffffff;
            margin: 10px;
            height: 688px;
            width: 240px;
           
            &Title{
                margin-top: 150px;
                font-size: 14px;

                &Dashboard{
                    background:#fc4760;
                    border-radius: 10px;
                    text-align: center;
                    padding: 10px 10px 10px 10px;
                    margin: 10px 15px 10px 15px;
                    color: #ffffff;
                }
                &Courses{
                    text-align: center;
                    margin-top: 30px;
                    color: #9a9999;
                    text-align: center;
                    padding: 10px 10px 10px 10px;
                    border: rebeccapurple 1px solid;

                    &:hover{
                        border: 1px solid rebeccapurple;
                        padding: 10px 10px 10px 10px;
                        margin: 10px 15px 10px 15px;
                        border-radius: 10px;
                        text-align: center;
                        
                    }
                }
                &Investment{
                    text-align: center;
                    margin-top: 30px;
                    color: #9a9999;
                    text-align: center;

                    &:hover{
                        border: 1px solid rebeccapurple;
                        padding: 10px 10px 10px 10px;
                        margin: 10px 15px 10px 15px;
                        border-radius: 10px;
                        text-align: center;
                        
                    }
                }
                &Blog{
                    text-align: center;
                    margin-top: 30px;
                    margin-right: 50px;
                    color: #9a9999;
                    text-align: center;

                    &:hover{
                        border: 1px solid rebeccapurple;
                        padding: 10px 10px 10px 10px;
                        margin: 10px 15px 10px 15px;
                        border-radius: 10px;
          
                    }
                }
            }
            &Contact{
                margin-top: 80%;
                
                p{
                    text-align: center;
                    color: #9a9999;
                    font-size: 14px;
                }                
            }
        }
        &Menu{
            grid-column: 2;
            grid-row: 1 / 6;
            margin: 10px;

            .content{
                display: grid;
                grid-template-rows:1fr 7fr ;
                gap:10px;

                &Navbar{
                    display: flex;
                    justify-content: space-between;
                    background: #ffffff;
                    border-radius: 16px;
                    height: 68px;
                    width: 1151px;

                    &Search{
                        
                        input{
                            background: #f1f5fb;
                            border-style: none;
                            padding-left: 10px;
                            width: 400px;
                            height: 40px;
                            margin: 15px 0 0 10px;
                            border-radius: 10px;                            
                        }
                    }
                    &Profile{
                        display: flex;
                        flex-direction: row;
                        gap: 1em;
                        margin-right: 90px;
                        align-items: center;
                        height: 68px;

                        &Name{
                            text-align: end;
                            margin-top: 0;
                            
                            h3{
                                color: #9a9999;
                                margin: 0;
                                font-size: 14px;
                            }
                            h2{
                                margin: 0;
                                font-size: 16px;
                                color: #707070;
                            }
                        }
                    }
                }
                &Body{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    position: relative;

                    .details{
                        border-radius: 16px;
                        background: #ffffff;
                        
                        &About{
                            height:555px;
                            width: 240px;
                           
                            &Profile{
                                text-align: center;
                                margin-top: 15px;
                                                
                                h3{
                                    font-size: 18px;
                                    margin: 0;
                                }
                                p{
                                    color: #b0b2b5;
                                    margin-top: 0;
                                }
                                button{
                                    border-style: none;
                                    border-radius: 10px;
                                    width: 100px;
                                    height: 30px;
                                    color: #ffffff;
                                    background: #fc4760;                                    
                                }
                            }
                            &Complete{
                                background: #f1f5fb;
                                border-radius: 10px;
                                color: #b0b2b5;
                                height: 53px;
                                width: 208px;
                                font-size: 12px;
                                margin-left: 15px;
                                
                                p{
                                    padding-left: 10px;
                                    padding-top: 10px;
                                }
                            }
                            &Progress{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                margin: 13px;
                                gap: 1em;
                                color: #ffffff;

                                p{
                                    font-size: 12px;
                                    padding-left: 10px;
                                }                 
                                &Completed{
                                    background: #79e289;
                                    border-radius: 8px;
                                    width: 96px;
                                    height: 100px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }                  
                                }
                                &Continue{
                                    background:  #44c6ff;
                                    border-radius: 8px;
                                    width: 96px;
                                    height: 100px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }                              
                                }
                                &Blogs{
                                    background:  #f4d33d;
                                    border-radius: 8px;
                                    width: 96px;
                                    height: 100px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }
                                }
                                &Points{
                                    background: #f560b2;
                                    border-radius: 8px;
                                    width: 96px;
                                    height: 100px;
                                    position: relative;

                                    h1{
                                        font-size: 24px;
                                        position: absolute;
                                        left: 10px;
                                        top: 30px;                             
                                    }   
                                }
                            }
                        }
                    }
                    .view{  
                        margin-left: 7px;

                        .courses{
                            width: 586px;
                            height: 372px;
                            border-radius: 16px;
                            background: #ffffff;  
                            position: relative;

                            &Navbar{
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                height: 55px;
                                
                                &Title{
                                    font-size: 18px;
                                    font-weight: bold;
                                    padding: 20px 0 0 10px;
                                }
                                &View{
                                    color: #b0b2b5;
                                    font-size: 14px;
                                    padding: 25px 20px;
                                }
                            }
                            &List{
                                padding: 0 5px 5px 5px;
                                display: flex;
                                flex-direction: column;

                                &Management{
                                    background: #f3f6fb;
                                    margin-left: 10px;
                                    border-radius: 10px;
                                    width: 554px;
                                    height: 138px;
                                    display: flex;
                                    position: relative;

                                    img{
                                        height: 80%;
                                        width: 30%;
                                        left:15px;
                                        align-self: center;
                                        border-radius: 10px;
                                        position: absolute;
                                    }

                                    &Description{
                                    
                                        h3{
                                            font-size: 14px;
                                            position: absolute;
                                            left:200px;
                                            bottom: 75px;
                                        }
                                    }
                                    &Duration{
                                        display: flex;
                                        list-style: none;
                                        font-size: 13px;
                                        color: #707070;
                                        position: absolute;
                                        left:200px;
                                        bottom: 60px;

                                        li{
                                            margin-right: 20px;     
                                        }
                                    }
                                    p{
                                        margin: 0;
                                        color: #707070;
                                        font-size: 13px;
                                        position: absolute;
                                        left:200px;
                                        bottom: 30px;
                                    }
                                }
                                &Business{
                                    background: #f3f6fb;
                                    margin-top: 20px;
                                    margin-left: 10px;
                                    border-radius: 10px;
                                    width: 554px;
                                    height: 138px;
                                    display: flex;
                                    flex-direction: row;
                                    position: relative;

                                    img{
                                        height: 80%;
                                        width: 30%;
                                        left:15px;
                                        align-self: center;
                                        border-radius: 10px;
                                        position: absolute;
                                    }


                                    &Description{
                                    
                                        h3{
                                            font-size: 14px;
                                            position: absolute;
                                            left:200px;
                                            bottom: 75px;
                                        }
                                    }
                                    &Duration{
                                        display: flex;
                                        list-style: none;
                                        font-size: 13px;
                                        color: #707070;
                                        position: absolute;
                                        left:200px;
                                        bottom: 60px;

                                        li{
                                            margin-right: 20px;     
                                        }
                                    }
                                    p{
                                        margin: 0;
                                        color: #707070;
                                        font-size: 13px;
                                        position: absolute;
                                        left:200px;
                                        bottom: 30px;
                                    }       
                                }
                            }    
                        }
                        .blog{
                            width: 586px;
                            height: 272px;
                            border-radius: 16px;
                            background: #ffffff;
                            margin-top: 7px;
                            position: absolute;    
                            
                            &Navbar{
                                list-style: none;
                                display: flex;
                                justify-content: space-between;
                                height: 35px;

                                &Title{
                                    font-size: 18px;
                                    font-weight: bold;
                                    padding: 20px 0 0 15px;
                                }
                                &View{
                                    color: #b0b2b5;
                                    font-size: 14px;
                                    padding: 25px 20px;
                                }
                            }
                            &Content{
                                margin-left: 10px;
                                
                                &Published{
                                    width: 554px;
                                    height: 94px;
                                    background: #f3f6fb;
                                    border-radius: 10px;
                                    padding-left: 10px;
                                    font-size: 14px;
                                    position: relative;

                                    h3{
                                        padding-top: 5px
                                    }
                                    button{
                                        position: absolute;
                                        bottom: 10px;
                                        background: #79e289;
                                        color: #ffffff;
                                        border-radius: 12px;
                                        border-style: none;
                                        padding: 4px 10px 4px 10px;
                                        cursor: pointer;
                                    }
                                }
                                &Unpublished{
                                    width: 554px;
                                    height: 80px;
                                    background: #f3f6fb;
                                    border-radius: 10px;
                                    padding-left: 10px;
                                    font-size: 14px;

                                    h3{
                                        padding-top: 5px
                                    }
                                    button{
                                        position: absolute;
                                        bottom: 50px;
                                        background: #ff7552;
                                        color: #ffffff;
                                        border-radius: 12px;
                                        border-style: none;
                                        padding: 4px 10px 4px 10px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                    .notification{
                        margin-left: 7px;
                       
                        &Segment{
                            width: 293px;
                            height: 535px;
                            background: #ffffff;
                            border-radius: 16px;

                            &Navbar{
                                padding: 4px 0 0 10px;
                                height: 37px;
                            }
                            h3{
                                font-size: 14px;
                                color: #707070;
                            }
                            p{
                                font-size: 12px;
                                color: #b0b2b5;
                            }
                            &Paragraph{
                                width: 262px;
                                height: 82px;
                                border-radius: 10px;
                                background: #f3f6fb;
                                margin-top: 8px;
                                margin-left: 10px;
                                position: relative;

                                h3{
                                    padding: 5px 0 5px 8px;
                                }
                                p{
                                    position: absolute;
                                    top: 40px;
                                    left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

